<div class="col-md-12">
 <h1>Here you can choose Dinner</h1>
</div>
<TABLE border="1"
          summary="Table to choose dinner from menu">
  <CAPTION><EM>Choose your dish for Dinner</EM></CAPTION>
  <tr>
    <th>Select</th>
    <th>Dish</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td><input type="checkbox" id="Main_Course1"></td>
    <td>2 Butter Rotis with Paneer Makahanwala</td>
    <td>450Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Main_Course2"></td>
    <td>2 Butter Kulcha with Paneer Kofta</td>
    <td>300Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Main_Course3"></td>
    <td>2 Butter Naan with Malai Kofta</td>
    <td>500Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  </TABLE>
  <br/>
  <br/>
  <button id="Home"><a ui-sref="Home">Click here to Navigate to Home</a></button>
</div>