<div class="col-md-12">
 <h1>Here you can choose Lunch</h1>
</div>
<div class="col-md-10">
<TABLE border="1"
          summary="Table to choose lunch from menu">
  <CAPTION><EM>Choose your dish for Lunch</EM></CAPTION>
  <tr>
    <th>Select</th>
    <th>Dish</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td><input type="checkbox" id="Rice_Plate"></td>
    <td>Rice Plate with Sambhar&Curd+Sabhji</td>
    <td>300Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Roti_Dal"></td>
    <td>2 Rotis&Dal+Raita</td>
    <td>350Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Paratha_Chole"></td>
    <td>1 Paratha with Chole Sabji</td>
    <td>250Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  </TABLE>
  <br/>
  <br/>
  <button id="Home"><a ui-sref="Home">Click here to Navigate to Home</a></button>
</div>