<div class="col-md-12">
 <h1>Here you can choose snacks</h1>
</div>
<div class="col-md-10">
  <TABLE border="1"
          summary="Table to choose snacks from menu">
  <CAPTION><EM>Choose your snacks</EM></CAPTION>
  <tr>
    <th>Select</th>
    <th>Dish</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td><input type="checkbox" id="Medu_Vada"></td>
    <td>Medu Vada</td>
    <td>50Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Chole_Batura"></td>
    <td>Chole Bature</td>
    <td>40Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" id="Plain_Dosa"></td>
    <td>Plain Dosa</td>
    <td>60Rs</td>
    <td>
       <select>
    	<option value="zero">0</option>
    	<option value="one">1</option>
    	<option value="two">2</option>
    	<option value="three">3</option>
    	<option value="four">4</option>
    	<option value="five">5</option>
       </select>
    </td>
  </tr>
  </TABLE>
  <br/>
  <br/>
  <button id="Home"><a ui-sref="Home">Click here to Navigate to Home</a></button>
</div>
